@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
  background-color: #00050a;
  font-family: 'Playfair Display', serif;
}

.transparentColor {
  background-color: #fdf7fd18;
}

.floatLeft {
  left: -165px;
}

.Bigtitle {
  @apply md:text-4xl lg:text-6xl font-bold;
}

.title {
  @apply sm:text-xl md:text-2xl lg:text-3xl text-white font-bold;
}

.subtitle {
  @apply sm:text-base md:text-lg lg:text-2xl font-medium;
}

.paragraph {
  @apply sm:text-base md:text-lg lg:text-2xl font-normal;
}

.paragraph-bold {
  @apply sm:text-base md:text-lg lg:text-2xl font-bold;
}

#front img {
  height: 500px;
  @apply min-w-max;
}

#personal-info {
  @apply flex flex-col gap-4 justify-items-center justify-center;
}

#vignettes {
  @apply bg-violet-900 text-white py-4 px-7 w-11/12 sm:w-full self-center;
}

li {
  @apply py-2;
}

#social {
  @apply bg-violet-900 text-white flex flex-wrap w-fit justify-center gap-1 py-3;
}

#aboutme {
  @apply sm:h-[780px];
}

#hobbie-card svg {
  @apply w-16 h-16 lg:w-20 lg:h-20;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

.border-bottom-container {
  @apply border-b-2 border-b-violet-900;
}

h3 {
  @apply text-white;
}

#enterprise img {
  width: 500px;
  height: 250px;
}

#enterprise .info {
  width: 400px;
  @apply p-2 flex flex-col gap-3 h-fit;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #00050a;
  
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #social {
    @apply flex flex-col left-1/3 bottom-10 p-3 gap-2;
  }
  #aboutme {
    @apply h-[880px];
  }
  #aboutme img {
    @apply h-[500px];
  }
}

@media (max-width: 390px) {
  .Bigtitle{
    @apply text-3xl;
  }

  .greetings {
    @apply gap-12;
  }

  #aboutme {
    @apply h-fit pb-8 pt-2 flex flex-col gap-8;
  }

  .mobile-aboutme{
    @apply flex flex-col;
  }

  #social{
    @apply self-center;
  }

  #enterprise img {
    width: 350px;
    height: 200px;
  }
  
  #enterprise .info {
    width: 350px;
    @apply p-2 flex flex-col gap-3 h-fit;
  }

}
